*.pth
*.pyc
filelists/singing_train.txt
filelists/singing_valid.txt
filelists/libri*
filelists/vits_file.txt
*.txt
*.ipynb
logs
singing_out
*/*_res
*.zip
nohup.out
env/
__pycache__/
singing_out/
VIsinger_data*
venv/
core